
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600;800;900&display=swap');

:root{
    --Moderate-violet: #7541c8;
    --Very-dark-grayish-blue: #48556a;
    --Very-dark-blackish-blue: #19212e;
    --White: #ffffff;

    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #ecf2f8;
}

@media(max-width:991px){

    .posts-box .container-box{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:"poster-daniel poster-daniel poster-jonathan poster-jonathan"
                            "poster-kira  poster-kira poster-jeanette poster-jeanette"
                            "poster-patrick "; 
        gap: 20px; 
        margin: 20px;
    }
}