
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600;800;900&display=swap');

:root{
    --Moderate-violet: #7541c8;
    --Very-dark-grayish-blue: #48556a;
    --Very-dark-blackish-blue: #19212e;
    --White: #ffffff;

    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #ecf2f8;
}

